.performance-main-div {
  background-image: url(../../Assets/Images/person-mobile.jpg);
  height: 100vh !important;
  // background-color: #060A0C;
  background-repeat: no-repeat;
  // width: 100% 100%;
  background-size: cover;
  .deliver-div {
    background-color: #060a0c;
    opacity: 0.7;
    height: 100vh !important;
    color: #ffffff;
    .content-div {
      height: 100vh;
      flex-direction: column;
      h1 {
        text-align: center;
        font-size: 36px;
        width: 700px;
      }
      h6 {
        text-align: center;
        width: 700px;
        font-size: 16px;
        line-height: 30px;
      }
      .discover-btn {
        height: 50px;
        width: 200px;
        background-color: #f37d1a;
        color: #ffffff;
        border: none;
        border-radius: 5px;
      }
    }
  }
}
